{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <form method="POST" action=""> <!-- will post form data to the same route -->
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New Content</legend>
                <div class="form-group">
                    {{ form.content_name.label(class="form-control-label") }}
                    {{ form.content_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.content_type.label(class="form-control-label") }}
                    {{ form.content_type(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.owner_name.label(class="form-control-label") }}
                    {{ form.owner_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.owner_email.label(class="form-control-label") }}
                    {{ form.owner_email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.valid_days.label(class="form-control-label") }}
                    {{ form.valid_days(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
{% endblock content %}