{% extends "layout.html" %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Get started!</h1>
  <p class="lead">
    This is a simple Python Flask application that tracks the lifecycle of product-related content.
  </p>
  <hr class="my-4">
  <p>Start by either adding new content or updating existing content.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Add content</a>
  <a class="btn btn-secondary btn-lg" href="#" role="button">Update content</a>
</div>
{% endblock content %}