{% extends "layout.html" %}
{% block content %}
<div class="container">
    <!-- form data is posted to the same route -->
    <form method="POST" action="" class="mb-5 border-bottom">
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Add New Content</legend>

            <!-- Content Name -->
            <div class="form-group">
                {{ form.content_name.label(class="form-control-label") }}
                {% if form.content_name.errors %}
                    {{ form.content_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content_name.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Content Type -->
            <div class="form-group">
                {{ form.content_type.label(class="form-control-label") }}
                    {% if form.content_type.errors %}
                    {{ form.content_type(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content_type(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Owner Email -->
            <div class="form-group">
                {{ form.owner_email.label(class="form-control-label") }}
                    {% if form.owner_email.errors %}
                    {{ form.owner_email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.owner_email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.owner_email(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <!-- Valid Months -->
            <div class="form-group">
                {{ form.valid_months.label(class="form-control-label") }}
                    {% if form.valid_months.errors %}
                    {{ form.valid_months(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.valid_months.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.valid_months(class="form-control form-control-lg") }}
                {% endif %}
            </div>

        </fieldset>

        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>

    {% if contents %}
    <header class="h4 mb-2">Existing Content</header>
        <table class="table">
            <!-- Table headers -->
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="text-center">Id #</th>
                <th scope="col" class="text-center">Content Name</th>
                <th scope="col" class="text-center">Content Type</th>
                <th scope="col" class="text-center">Updated At</th>
                <th scope="col" class="text-center">Valid_months</th>
                <th scope="col" class="text-center">Owner</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
            </thead>

            <!-- Table body -->
            <tbody>
            {% for content in contents %}

                <tr>
                    <th scope="row" class="text-center">{{ content.id }}</th>
                    <td class="text-center">{{ content.content_name }}</td>
                    <td class="text-center">{{ content.content_type }}</td>
                    <td class="text-center">{{ content.updated_at }}</td>
                    <td class="text-center">{{ content.valid_months }}</td>
                    <!-- owner name is retrieved from dictionary using content id -->
                    <td class="text-center">{{ owner_data.get(content.id) }}</td>
                    <!-- Action buttons -->
                    <td class="text-center"> <!-- Pass content.id into fetch requests -->
                        <a type="button" href="{{ url_for('content_edit', content_id=content.id) }}">
                            <img src="../static/edit_icon.png" alt="edit">
                        </a>
                        <a type="button" onclick="deleteContent('{{ content.id }}')">
                            <img src="../static/trash_icon.png" alt="delete">
                        </a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

    {% endif %}

</div>
{% endblock content %}