{% extends "layout.html" %}
<!-- Jumbotron Header -->
{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Content Tracker</h1>
        <p class="lead">
            A simple Python Flask application that tracks the lifecycle of product-related content.
        </p>
        <hr class="my-4">
        <p>Start by either adding new content or updating existing content.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('content') }}" role="button">
            Add content
        </a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('owner') }}" role="button">
            Add content owner
        </a>
    </div>
</div>
{% endblock header %}